Logic/bin
MobileUI/bin
MobileUI/.mtj.tmp
PhoneConsoleEmulator/bin

/Logic/.settings/org.eclipse.core.runtime.prefs
/MobileUI/deployed/DefaultCldcPhone1/Alpha.jar
/MobileUI/deployed/DefaultCldcPhone1/alpha.jad